{{yield}}
<h1>Product survey</h1>

  <div class="flip-block">
    {{#each masterSlide as |slide index|}}
      <div class="flip-page" id={{concat 'slide' index}}>
        {{#each slide as |question|}}
          {{question.headline}}
        {{/each}}
      </div>
    {{/each}}

    <div class="d-none d-md-block d-lg-block d-sm-none product-story">
      <div class="well">
        <div id="product-drop-zone" class="drop-zone"></div>
        <h1>jjj</h1>
      </div>
    </div>
  </div>
  <div class="product-action-item">
    <button {{action 'previous' preventDefault=true}}>Prev</button>
    <div class="d-none d-md-none d-lg-none d-sm-block product-story">
      <div class="well">
        <div id="product-drop-zone" class="drop-zone"></div>
        <h1>jjj</h1>
      </div>
    </div>
    <button {{action 'next' preventDefault=true}}>Next</button>
  </div>

